.sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 99%;
  margin: auto;
}

/* .pages-link-detail {
  width: 79%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 15px;
  background-color: #f5f4f0;
} */
.pages-link-detail li a {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.detail-section {
  width: 79%;
  padding-left: 4px;
  margin: 20px auto;
}
.detail-head h4 {
  font-size: 20px;
  color: #024066;
}
.detail-main {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
  margin: 40px 0;
}
.detail-main-right p {
  color: #4f81bd;
  font-size: 15px;
}

.detail-bottom {
  margin: 50px 0;
}

.detail-bottom p {
  font-size: 15px;
  width: 90%;
}
