body {
  padding: 0;
  margin: 0;
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}


p,
span,
h2,
h1,
a,
i,
div {
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

.nav-mobile {
  display: none;
}

.navbar {
  width: 100%;
  padding: 0;
}

.nav-image,
.nav-image img {
  width: 100%;
  height: 200px;
}

.nav-link {
  margin: 0;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 99;
}

.nav-links {
  width: 100%;
  height: 80px;
  padding: 25px 20px;
  background-color: #0b456b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages-link-bottom {
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

.nav-links_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links_item li a {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: linear 0.4s all;
  color: white;
}

li.links::before {
  display: inline-block;
  color: #b8b1d6;
  color: white;
  content: "|";
  font-size: 14px;
  padding: 0 25px;
}

.nav-links_item a:hover {
  color: #8994a3;
  text-decoration: underline;
  transition: linear 0.3s all;
}

/* Search Input */
.header-search-div,
.nav-mobile-header-search-div {
  color: #3c3b37;
  margin-right: 30px;
  border: 1px solid #b9b9b9;
  border-radius: 30px;
  padding: 9px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header-search-div input,
.nav-mobile-header-search-div input {
  height: 100%;
  border: none;
  background: transparent;
  color: white;
  width: 0px;
  outline: none;
  transition: linear 0.3s all;
}

.nav-mobile-header-search-div {
  display: none;
}
.header-search-div i {
  font-size: 22px;
  color: white;
  transition: linear 0.3s all;
}

.header-search-div:hover i {
  color: #8994a3;
}

/* Login Register BTN */
.buttons a {
  width: 102px;
  height: 48px;
  padding: 10px 20px;
  border-radius: 8px;
  color: #ffff;
  /* background: #5a4e8c; */
  background: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  line-height: 22px;
  cursor: pointer;
  transition: linear 0.4s all;
}

.buttons a:hover {
  color: white;
  background-color: #8994a3;
}

.pages-link {
  width: 79%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 15px 35px;
  background-color: #f5f4f0;
}

.pages-link li a {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

/* //Laout */

.sidebar-right {
  width: 20%;
  /* margin-top: -54px; */
  margin-top: 5px;
  padding-left: 10px;
  position: sticky;
  top: 85px;
  z-index: 10;
}

.sidebar-item {
  background-color: #f5f4f0;
  display: block;
  font-size: 1em;
  margin-bottom: 10px;
  padding-bottom: 1.5em;
}

.sidebar-item_top {
  background-color: #0b456b;
  color: #ffffff;
  display: block;
  font-size: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  padding: 8px 0 8px 8px;
  text-transform: uppercase;
}

.sidebar-item_bottom {
  padding-top: 20px;
  padding-left: 50px;
}
.sidebar-item_bottom a {
  display: block;
  padding: 5px;
  font-size: 14px;
  text-decoration: underline;
  transition: linear 0.3s all;
}

.sidebar-item_bottom a:hover {
  color: #8994a3;
}

/* FOOTER */
.footer {
  background-color: #162238;
}
.footer-head {
  width: 100%;
  padding: 45px 20px 35px 20px;
}

.footer .text-title {
  color: #fff;
  border-left: 4px solid #ea5252;
}

.footer .text-description {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.footer .text-title span {
  text-align: left;
  font-size: 25px;
  margin: 0;
  padding: 0 0 0 20px;
  height: 70px;
  line-height: 70px;
}

.footer .text-description li {
  border-color: #fff;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 0;
  border: 1px solid white;
  text-transform: uppercase;
  transition: linear 0.3s all;
}

.footer .text-description a {
  color: #fff;
  font-size: 12px;
  padding: 12px 13px;
  font-weight: 500;
  transition: linear 0.3s all;
}
.footer .text-description li:hover {
  border-color: #ea5252;
  background-color: white;
}
.footer .text-description li:hover a {
  text-decoration: underline;
  color: #ea5252;
}

.carousel-listing-box {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
}

.listing-box-item {
  background: #ea5252;
  opacity: 0.9;
  color: #fff;
  padding: 10px 20px 10px 20px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.listing-box-item:hover {
  background: #fff;
  color: #ea5252;
}

.listing-box-item:hover .title {
  text-decoration: underline;
}

.listing-box-item .date {
  color: #162238;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 10px;
}

.listing-box-item .title {
  font-size: 20px;
  padding-bottom: 10px;
}
.listing-box-item .read_more span {
  color: #ccc;
}

.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: #ccc;
  width: 82%;
  margin: auto;
  border-top: 1px solid #9da4ab;
}

.footer-bottom p {
  color: #ccc;
  margin: 0;
  font-size: 14px;
}
.footer-bottom a {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}
.footer-bottom #backToTop:hover {
  color: #ea5252;
  text-decoration: underline;
}
.footer-bottom i {
  color: #ea5252;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .nav-image,
  .nav-image img {
    width: 100%;
    height: 150px;
  }

  .nav-links_item li a {
    font-size: 10px;
  }
  li.links::before {
    padding: 0 10px;
  }

  .header-search-div {
    margin-right: 10px;
    padding: 7px 10px;
  }
}

@media only screen and (max-width: 850px) {
  .navbar {
    display: none;
  }
  .nav-mobile-toolbar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px 10px 30px;
  }
  .nav-mobile-header-search-div {
    width: 100%;
    padding: 7px 20px;
    display: block;
  }
  .nav-mobile-header-search-div input {
    width: 90%;
  }
  .header-search-div i {
    font-size: 18px;
  }
  .nav-link {
    position: relative;
    z-index: 995;
    position: sticky;
    top: 0;
  }
  .nav-links_item {
    display: none;
  }
  .nav-mobile {
    display: block;
    position: absolute;
    top: -550px;
    background-color: #4c4c4c;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: -1;
    transition: all 0.4s ease-out 0s;
  }
  .nav-mobile-shadow {
  }
  .nav-mobile-links li {
    margin: 0px;
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
  }
  .nav-mobile-links a {
    font-size: 12px;
    color: #fff;
    transition: all 0.3s ease-out 0s;
  }
  .nav-mobile-links li:hover {
    background-color: #cccccc;
  }
  .nav-mobile-links li:hover a {
    color: #4c4c4c;
  }
  .sidebar-right {
    display: none;
  }
  .pages-link {
    display: none;
  }
  .nav-links {
    height: 60px;
    margin: 0;
    justify-content: flex-end;
    background-color: #4c4c4c;
  }
  .hamburger-menu {
    display: block;
    color: #ffff;
    cursor: pointer;
  }

  .hamburger-menu:hover {
    color: #8994a3;
    transition: linear 0.3s all;
  }

  .hamburger-menu i {
    font-size: 20px;
  }
  .footer-head {
    padding: 40px 20px 50px 20px;
  }
  .footer .carousel-inner {
    margin: 30px 0;
  }
  .footer .footer-bottom {
    padding-top: 15px;
    padding-bottom: 20px;
    flex-direction: column;
    text-align: center;
  }
  .footer .text-title span {
    font-size: 20px;
  }

  .footer .text-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .text-description a {
    font-size: 12px;
  }
  .footer .text-description li {
    border: 1px solid white;
  }
  .footer .text-description a {
    color: #fff;
    font-size: 11px;
    padding: 8px 10px;
    font-weight: 400;
  }

  .listing-box-item .title {
    font-size: 18px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
  .footer-bottom #backToTop a {
    padding-top: 20px;
    font-size: 11px;
    text-decoration: underline;
  }
}
