/* Section */
#sections {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 99%;
  margin: auto;
}

.section-item {
  width: 79%;
  margin: auto;
  padding-top: 20px;
}

/* First Section */

#first-section {
  /* padding-left: 3px; */
  margin: 0;
  width: 100%;
  position: relative;
}

.first-section-tittle {
  position: absolute;
  top: 25px;
}

.section-tittle h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: "Jost", sans-serif;
  color: #3c3b37;
  font-size: 36px;
  display: block;
  font-weight: 600;
  line-height: 1.4;
  /* text-align: center; */
}

#first-section .owl-carousel.owl-theme {
  padding: 100px 0 100px;
}

.owl-carousel.owl-theme .item img {
  /* height: 220px; */
}

#first-section h3 a {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 6px;
  display: block;
  color: inherit;
  transition: all 0.3s ease-out 0s;
}

#first-section h3 a:hover {
  color: #ea5252;
}

#first-section p {
  color: #6a6a6a;
  margin-bottom: 10px;
}

.owl-nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  right: 0;
}

.owl-prev,
.owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.owl-prev span,
.owl-next span {
  margin: 0 20px;
  font-size: 43px;
  font-weight: 600;
  color: rgba(26, 33, 61, 0.4);
}

/* Topic Section */
.topics {
  padding-bottom: 50px;
}

.topics-item {
  margin: 30px 0;
  width: 100%;
}

.single-location {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 140px;
}

.single-location::after {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(90, 78, 140, 0.3);
  z-index: 1;
  transition: all 0.4s ease-out 0s;
  width: 100%;
  height: 100%;
}

.single-location:hover::after {
  background: rgba(90, 78, 140, 0.6);
}
.location-details {
  position: absolute;
  left: 0px;
  right: 0;
  top: 45%;
  z-index: 4;
  text-align: center;
  margin: 0 auto;
  transition: all 0.4s ease-out 0s;
}
.single-location:hover .location-details {
  left: 0px;
  right: 0;
  top: 40%;
  z-index: 4;
  text-align: center;
  margin: 0 auto;
  transition: all 0.4s ease-out 0s;
}

.location-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.location-details h4 {
  font-family: "Jost", sans-serif;
  color: #3c3b37;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
}

.location-details h4 a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 2px;
}

.location-btn {
  visibility: hidden;
  opacity: 0;
  background: #ea5252;
  padding: 7px 15px;
  color: #fff;
  border-radius: 4px;
}

.single-location:hover .location-btn {
  transition: all 0.5s ease-out 0s;
  display: inline-block;
  font-size: 14px;
  visibility: visible;
  opacity: 1;
}

.location-btn:hover {
  background: #fff;
  color: #ea5252;
}
